RewriteEngine On
RewriteBase /Grupo7/

# Si el archivo o directorio existe, úsalo directamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todas las solicitudes al index.php
RewriteRule ^(.*)$ index.php [QSA,L]

# Permitir acceso a archivos estáticos
<FilesMatch "\.(css|js|png|jpg|jpeg|gif|ico)$">
    Order Allow,Deny
    Allow from all
</FilesMatch> 